{% extends "layout.html" %}

{% block title %}
Upload avatr
{% endblock %}

{% block content %}

<div class="row mt-3" >
    <div class="alert  alert-warning" >
        <h4 class="alert-heading">Upload !</h4>
        <h2>Select multiple images to upload and display</h2>
<p>

</p>
      </div>

      <form method="POST" action="/avatar" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
    <h1>Ahah rrrrrrrrrOk</h1>

</div>


{% endblock %}