{% extends "layout.html" %}

{% block title %}
Upload
{% endblock %}

{% block content %}

<div class="row mt-3" >
    <div class="alert  alert-warning" >
        <h4 class="alert-heading">Upload !</h4>
        <h2>Select multiple images to upload and display</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
      </div>

      <form method="post" action="/upload" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="files[]" multiple="true" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
    
    {% if filenames %}
        {% for filename in filenames %}
            <div>
                <img src="{{ url_for('display_image', filename=filename) }}">
            </div>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}